body {
  overflow-x: hidden !important;
}

.navbar {
  padding: 0.25rem 0.25rem !important;
}

.navbar .nav-item .dropdown-menu {
  display: none;
}
.navbar .nav-item:hover .nav-link {
  color: rgba(0, 0, 0, 0.2) !important;
  font-weight: 500;
  text-shadow: none;
}
.navbar .nav-item:hover .dropdown-menu {
  display: block;
  color: #ffffff !important;
}
.navbar .nav-item .dropdown-menu {
  margin-top: 0;
}

.dropdown-item {
  color: #7d899a !important;
}

.dropdown-item:hover {
  color: #505965 !important;
  background-color: transparent !important;
}

.dropdown-item:active {
  color: #505965 !important;
  background-color: transparent !important;
}

.navbarSeperator {
  border: 0.5px solid #707070;
  margin-left: 10px;
  margin-right: 10px;
  height: 26px;
  position: relative;
  top: 7px;
}

.container {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.headerPanelCss {
  color: #19a0c6;
  font-weight: bold;
}

.headerPanel {
  font-weight: bold;
  font-size: 16px !important;
  color: #505965;
}

.advertisingTitleCss {
  font-weight: bold;
  font-size: 14px !important;
  color: #505965;
}

.textPanel {
  font-size: 12px !important;
  color: #3c3c3c;
}

.aboutusmission-css {
  background-image: url(../images/aboutusandmission2.svg);
  background-position: -webkit-calc(100% + 256px) 350px;
  background-repeat: no-repeat;
  background-size: 600px 600px;
}

/*
.aboutusmission-css {
  background-image: url(../images/aboutusandmission1.svg),
    url(../images/aboutusandmission2.svg);
  background-position: -webkit-calc(100% + 165px) 100px,
    -webkit-calc(100% + 256px) top;
  background-repeat: no-repeat, no-repeat;
  background-size: 1000px 600px, 600px 600px;
}
*/

.headerPage {
  font-weight: bold;
  font-size: 20px !important;
  color: #505965;
}

.lineBreak {
  width: 5%;
  position: absolute;
  left: 47.5%;
  border-top: 1.5px solid #19a0c6 !important;
  margin-top: 10px;
}

.amazonservices-css {
  background-image: url(../images/amazonservices.svg),
    url(../images/amazonadvertising.svg);
  background-position: -505px -150px, -webkit-calc(100% + 465px) 350px;
  background-repeat: no-repeat;
  background-size: 1000px 400px, 600px 600px;
}

.portfolioLabel {
  color: #505965;
  font-family: bold;
  font-size: 12px;
}

.contactLabelCss {
  color: #555e69;
  font-size: 20px;
  font-weight: bold;
}

.labelContact {
  font-size: 14px !important;
  color: #b7b9ba;
}

.footerPanel {
  background: linear-gradient(to bottom right, transparent 49.8%, #fff 50%)
      bottom right/65px 65px no-repeat,
    #505965;
  height: 50px !important;
  width: 100% !important;
  position: relative;
}

.gradeTriangle {
  bottom: 8px;
  right: 20px;
  position: absolute;
  color: #505965;
  font-size: 12px;
}

.rotateTextFooter {
  -webkit-transform: rotate(-45deg) !important;
  -moz-transform: rotate(-45deg) !important;
}

.portfolioCircle {
  width: 100%;
  height: 140px;
  position: relative;
  top: 166px;
  left: -70px;
  z-index: 1;
}

.whatsapp {
  position: absolute;
  bottom: 15px;
  right: 15px;
  height: 60px;
  cursor: pointer;
}

.whatsapp-rtl {
  left: 60px;
  height: 60px;
  cursor: pointer;
}

.nav-link {
  color: #505965 !important;
  padding-right: 0.75rem !important;
  padding-left: 0.75rem !important;
}

.dropdown-menu {
  background-color: #e6e6e6 !important;
}

/*
.amazonServicesDivId.active {
  font-weight: bold;
  background: #ffa741;
  color: #505965;
  margin-top: 0px;
  height: 240px;
  line-height: 160px;
  border: 1px solid #ffa741 !important;
  border-radius: 6px;
}

.amazonServicesDivId.active .panel {
  box-shadow: none !important;
}
*/

.navbar-nav > li > a:focus,
.navbar-nav > li > a:hover {
  font-weight: bold;
}

.carousel-control-next-icon {
  background-color: #d3d3d3 !important;
}

.carousel-control-prev-icon {
  background-color: #d3d3d3 !important;
}

.panel {
  height: 200px;
  vertical-align: middle !important;
  line-height: 120px;
  border: 1px solid #ffa741;
  margin-top: 20px;
  border-radius: 6px;
  color: #6a625b;
  box-shadow: 0px 10px 6px -6px #d3d3d3;
}

.carousel-item {
  width: 90%;
  overflow-x: hidden;
  /*
  position: relative;
  left: 10px;
  */
}

.carousel-inner {
  width: 80% !important;
}

.panel-thumbnail {
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  line-height: 200px;
}

.carousselIconCss {
  color: #ffffff;
  font-size: 18px;
}

i.carousselIconCss {
  display: inline-block;
  border-radius: 50px;
  background: #505965;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
}

div video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.malr {
  margin-left: 120px !important;
  margin-right: 120px !important;
}

.cardCss:active {
  background: #e6e6e6 !important;
}

body ul li a i.grow {
  transition: all 0.2s ease-in-out;
}

body ul li a i.grow:hover {
  transform: scale(1.5);
}

img {
  user-drag: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  user-select: none;
}

/************************** owl carousel Start *****************************/
.carousel-caption {
  position: relative;
  /* right: 6%; */
  bottom: 100px;
  left: 4%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  width: 100%;
}

.owlCarouselCss {
  font-weight: bold;
  color: #505965;
  margin-top: 0px;
  height: 240px;
  line-height: 160px;
  border: 1px solid #707070 !important;
  border-radius: 6px;
  margin-top: 30px;
  width: 95%;
}

.center .owlCarouselCss {
  height: 300px;
  background: #ffa741;
  border: 1px solid #ffa741 !important;
  margin-top: 0px !important;
}

.owl-carousel-navigation {
  line-height: 300px;
  margin-top: 3rem !important;
  display: flex;
  justify-content: center;
}

.owl-carousel {
  position: relative !important;
}
/************************** owl carousel End *****************************/

/************************** Wave Start *****************************/
.waveBackground {
  position: absolute;
  left: 0;
  right: 0;
  /*top: 200px;
  bottom: 100px;*/
  z-index: 1;
}

.waveBackground + .waveBackground {
  z-index: 2;
}
/************************** Wave End *****************************/

.dropdown-item:hover {
  color: rgba(0, 0, 0, 0.2) !important;
  font-weight: 700 !important;
  text-shadow: none !important;
}

.labelGrowUp {
  /*transition: all 1s ease-in-out;*/
  font-size: 12px;
}
.labelGrowUp:hover {
  /*transform: scale(1.2); */
  font-size: 14px;
}

/************************** Amazon advertising Start *****************************/

.amazonAdvImgCss {
  /*background: #f5cb22;
  color: red;*/
  transition: all 0.65s;
  transform: rotateY(360deg);
}

/*
.advertisingimage:hover path {
  fill: red!important;
}

svg:hover path {
    fill: red;
}
*/

.amazonAdvBlockCss:active {
  background-color: #d3d3d3;
}

.directionLTR {
  direction: ltr !important;
  text-align: left !important;
  float: left;
}

.directionRTL {
  direction: rtl;
  text-align: right !important;
  float: right;
}

.textAlignRTL {
  text-align: right;
}

.floatLeft {
  float: left !important;
}

.floatRight {
  float: right !important;
}

.menuTopRTL {
  right: 10px;
}
/************************** Amazon advertising End *****************************/
