body {
  overflow-x: hidden !important;
}

.fa {
  color: #505965;
}

.pattern {
  background-image: url(../images/pattern.png);
  opacity: 0.4;
  background-repeat: repeat;
  width: 100%;
  height: 110vh !important;
  position: absolute;
  /*top: 90px;*/
  left: 0;
  z-index: 99;
  opacity: 0.1 !important;
}

.slider-revoluation {
  height: 100vh !important;
}

.slider-revoluation video {
  margin: auto;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  visibility: visible;
  opacity: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

video:focus {
  outline: none;
}

.navbar {
  padding: 0.25rem 0.25rem !important;
  z-index: 105;
}

.navbar .nav-item .dropdown-menu {
  display: none;
}
.navbar .nav-item:hover .nav-link {
  color: rgba(0, 0, 0, 0.2) !important;
  font-weight: 500;
  text-shadow: none;
}
.navbar .nav-item:hover .dropdown-menu {
  display: block;
  color: #ffffff !important;
}
.navbar .nav-item .dropdown-menu {
  margin-top: 0;
}

.footerText {
  text-align: center;
  line-height: 50px;
  color: #ffffff;
}

.modal {
  z-index: 99999;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 0px !important;
}

.dropdown-item {
  color: #7d899a !important;
}

.dropdown-item:hover {
  color: #505965 !important;
  background-color: transparent !important;
}

.dropdown-item:active {
  color: #505965 !important;
  background-color: transparent !important;
}

.navbarSeperator {
  border: 0.5px solid #707070;
  margin-left: 10px;
  margin-right: 10px;
  height: 26px;
  position: relative;
  top: 7px;
}

.container {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.headerPanelCss {
  font-weight: bold;
  font-size: 24px !important;
  color: #19a0c6;
}

.headerPanel {
  font-weight: bold;
  font-size: 24px !important;
  color: #505965;
}

.advertisingTitleCss {
  font-weight: bold;
  font-size: 14px !important;
  color: #505965;
}

.aboutusmission-css {
  background-image: url(../images/aboutusandmission2.svg);
  background-position: -webkit-calc(100% + 260px) 160px;
  background-repeat: no-repeat;
  background-size: 600px 600px;
}

/*
.aboutusmission-css {
  background-image: url(../images/aboutusandmission1.svg),
    url(../images/aboutusandmission2.svg);
  background-position: -webkit-calc(100% + 165px) 100px,
    -webkit-calc(100% + 256px) top;
  background-repeat: no-repeat, no-repeat;
  background-size: 1000px 600px, 600px 600px;
}
*/

.headerPage {
  font-weight: bold;
  font-size: 34px !important;
  color: #505965;
}

.lineBreak {
  width: 7%;
  position: absolute;
  left: 46.5%;
  border-top: 3.5px solid #19a0c6 !important;
  margin-top: 10px;
}

.amazonservices-css {
  background-image: url(../images/amazonservices.svg),
    url(../images/amazonadvertising.svg);
  background-position: -505px -150px, -webkit-calc(100% + 465px) 300px;
  background-repeat: no-repeat;
  background-size: 1000px 400px, 600px 600px;
}

.portfolioLabel {
  color: #505965;
  font-family: bold;
  font-size: 12px;
}

.contactLabelCss {
  color: #555e69;
  font-size: 24px;
  font-weight: bold;
}

.labelContact {
  font-size: 16px !important;
  color: #b7b9ba;
}

.textPanel {
  font-size: 16px !important;
  color: #3c3c3c;
}

.footerPanel {
  background: linear-gradient(to bottom right, transparent 49.8%, #fff 50%)
      bottom right/65px 65px no-repeat,
    #505965;
  height: 50px !important;
  width: 100% !important;
  position: relative;
}

.gradeTriangle {
  bottom: 8px;
  right: 20px;
  position: absolute;
  color: #505965;
  font-size: 12px;
}

.rotateTextFooter {
  -webkit-transform: rotate(-45deg) !important;
  -moz-transform: rotate(-45deg) !important;
}

.portfolioCircle {
  width: 100%;
  height: 140px;
  position: relative;
  top: 166px;
  left: -70px;
  z-index: 1;
}

.whatsapp {
  position: absolute;
  bottom: 20px;
  right: 20px;
  height: 60px;
  cursor: pointer;
}

.whatsapp-rtl {
  left: 20px;
  height: 60px;
  cursor: pointer;
  bottom: 20px;
  position: absolute;
}

.socialIconCss {
  font-size: 20px;
  color: white;
  margin-left: 20px;
}

.nav-link {
  color: #505965 !important;
  padding-right: 0.75rem !important;
  padding-left: 0.75rem !important;
}

.dropdown-menu {
  background-color: #e6e6e6 !important;
}

/*
.amazonServicesDivId.active {
  font-weight: bold;
  background: #ffa741;
  color: #505965;
  margin-top: 0px;
  height: 240px;
  line-height: 160px;
  border: 1px solid #ffa741 !important;
  border-radius: 6px;
}

.amazonServicesDivId.active .panel {
  box-shadow: none !important;
}
*/

.navbar-nav > li > a:focus,
.navbar-nav > li > a:hover {
  font-weight: bold;
}

.carousel-control-next-icon {
  background-color: #d3d3d3 !important;
}

.carousel-control-prev-icon {
  background-color: #d3d3d3 !important;
}

.panel {
  height: 200px;
  vertical-align: middle !important;
  line-height: 120px;
  border: 1px solid #ffa741;
  margin-top: 20px;
  border-radius: 6px;
  color: #6a625b;
  box-shadow: 0px 10px 6px -6px #d3d3d3;
}

.carousel-item {
  width: 90%;
  overflow-x: hidden;
  /*
  position: relative;
  left: 10px;
  */
}

.carousel-inner {
  width: 80% !important;
}

.panel-thumbnail {
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  line-height: 200px;
}

.carousselIconCss {
  color: #ffffff;
  font-size: 18px;
}

i.carousselIconCss {
  display: inline-block;
  border-radius: 50px;
  background: #505965;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
}

.malr {
  margin-left: 120px !important;
  margin-right: 120px !important;
}

.cardCss:active {
  background: #e6e6e6 !important;
}

body span a i.grow {
  transition: all 0.2s ease-in-out;
}

body span a i.grow:hover {
  transform: scale(1.5);
}

img {
  user-drag: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  user-select: none;
}

/************************** owl carousel Start *****************************/
.carousel-caption {
  position: relative;
  /* right: 6%; */
  bottom: 100px;
  left: 4%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  width: 100%;
}

.owlCarouselCss {
  font-weight: bold;
  color: #505965;
  margin-top: 0px;
  height: 300px;
  line-height: 160px;
  border: 1px solid #707070 !important;
  border-radius: 6px;
  margin-top: 30px;
  width: 95%;
  line-height: 30px;
  padding-top: 60px;
}

.center .owlCarouselCss {
  height: 360px;
  background: #ffa741;
  border: 1px solid #ffa741 !important;
  margin-top: 0px !important;
}

.owl-carousel-navigation {
  line-height: 300px;
  margin-top: 3rem !important;
  display: flex;
  justify-content: center;
}

.owl-carousel {
  position: relative !important;
}
/************************** owl carousel End *****************************/

/************************** Wave Start *****************************/
.waveBackground {
  position: absolute;
  left: 0;
  right: 0;
  /*top: 200px;
  bottom: 100px;*/
  z-index: 1;
}

.waveBackground + .waveBackground {
  z-index: 2;
}
/************************** Wave End *****************************/

.dropdown-item:hover {
  color: rgba(0, 0, 0, 0.2) !important;
  font-weight: 700 !important;
  text-shadow: none !important;
}

.labelGrowUp {
  transition: all 1s ease-in-out;
  font-size: 12px;
  cursor: pointer;
}
.labelGrowUp:hover {
  transform: scale(1.5);
  font-size: 14px;

  transition: all 0.5s ease-in-out;
}

/************************** Amazon advertising Start *****************************/

.amazonAdvImgCss {
  transition: all 0.65s;
  transform: rotateY(360deg);

  -webkit-filter: grayscale(1) invert(1);
  filter: grayscale(1) invert(1);
}

.amazonAdvBlockCss:active {
  background-color: #d3d3d3;
}

.directionLTR {
  direction: ltr !important;
  text-align: left !important;
  float: left;
}

.directionRTL {
  direction: rtl;
  text-align: right !important;
  float: right;
}

.textAlignRTL {
  text-align: right;
}

.floatLeft {
  float: left !important;
}

.floatRight {
  float: right !important;
}

.menuTopRTL {
  right: 10px;
}

.dropdown-menu {
  max-width: 300px !important;
}

.dropdown-item {
  word-break: break-all;
  white-space: pre-wrap !important;
}
/************************** Amazon advertising End *****************************/

/************************** Reveal Card Content on Hover Start ********************/
.card-container {
  flex: 28%;
  margin: 15px;
  z-index: 100;
}
.card-container .card {
  font-weight: bold;
  position: relative;
  width: 100%;

  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  cursor: pointer;
}
.card-container .card a {
  /*padding: 30px;*/
  width: 100%;
  height: 300px;
  /*border: 2px solid black;*/
  background: white;
  text-decoration: none;
  color: black;
  display: block;
  transition: 0.25s ease;
}
.card-container .card a:hover {
  /*
  transform: translate(-30px, -30px);
  border-color: #5bc0eb;
  */
  background-color: #f8f8f8;
  transform: scale(1.3);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  z-index: 101;
}

.mainDivIndex {
  z-index: 101;
}

.card-container .card a:hover .card--display {
  display: none;
}
.card-container .card a:hover .card--hover {
  display: block;
}
.card-container .card a .card--display i {
  font-size: 60px;
  margin-top: 200px;
}
.card-container .card a .card--display h2 {
  margin: 20px 0 0;
}
.card-container .card a .card--hover {
  display: none;
}
.card-container .card a .card--hover h2 {
  margin: 20px 0;
}
.card-container .card a .card--hover p {
  font-weight: normal;
  line-height: 1.5;
  font-size: 12px;
  overflow: auto;
  height: 100px;
}
.card-container .card a .card--hover p.link {
  margin: 20px 0 0;
  font-weight: bold;
  color: #5bc0eb;
}
.card-container .card .card--border {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  /*border: 2px dashed black;*/
  z-index: -1;
}
.card-container .card.card--dark a {
  color: white;
  background-color: black;
  /*border-color: black;*/
}
.card-container .card.card--dark a .card--hover .link {
  color: #fde74c;
}
/************************** Reveal Card Content on Hover End ********************/

/************************** Button on Hover Start ********************/

.btnParent {
  position: absolute;
  bottom: 30px;
  text-align: center;
  width: 100%;
}

.buttonHover {
  min-width: 100px;
  min-height: 44px;
  font-family: "Nunito", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4fd1c5;
  background: linear-gradient(
    90deg,
    rgba(129, 230, 217, 1) 0%,
    rgba(79, 209, 197, 1) 100%
  );
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79, 209, 197, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 0px 10px;
}

.buttonHover::before {
  content: "";
  border-radius: 1000px;
  min-width: calc(122px + 12px);
  min-height: calc(50px + 12px);
  border: 6px solid #00ffcb;
  box-shadow: 0 0 60px rgba(0, 255, 203, 0.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

.buttonHover:hover,
.buttonHover:focus {
  color: #313133;
  transform: translateY(-6px);
}

.buttonHover:hover::before,
.buttonHover:focus::before {
  opacity: 1;
}

.buttonHover::after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #00ffcb;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.buttonHover:hover::after,
.buttonHover:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 200px;
    height: 200px;
    opacity: 0;
  }
}
/************************** Button on Hover End ********************/
